html{
    height: 100%;
    background-image: url(../photo/kirpich-kirpichnaia-stena-fon-fotofon-tekstura.jpg);
}
body{
    margin: 0%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    justify-content: space-around;
    background-color: rgb(58, 51, 51, 0.7);
}
.fa{
    font-size: 90px;
    padding: 10px;
}
ul{
    display: flex;
    list-style: none;
}
li{
    padding: 0px 30px 0px 30px;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button{
    height: 30px;
    width: 80px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.button{
    display: flex;
    align-items: center;
}
nav{
    display: flex;
    align-items: center
}
img{
    height: 300px;
    width: 300px;
    float: left;
    padding: 10px;
}
.osnova{
    width: 70%;
    max-width: 1200px;
    min-width: 500px;
    margin: 0 auto;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 380px;
}
.questiommaire li{
    display: flex;
}
.questiommaire{
    display: flex;
    flex-direction: column;
    height: 270px;
}
.questiommaire li div:first-child{
width: 300px;
}
h3{
    padding-top: 70px;
    margin-top: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:rgb(58, 51, 51, 0.7);
    height: 70px;
    padding-left: 350px;
    align-items: center;
    display: flex;
}
main{
    flex: 1 1;
}
.qq{
    width: 70%;
    max-width: 1200px;
    min-width: 500px;
    margin: 0 auto;
    font-size: 23px;
    display: flex;
}
.ww{
    font-weight: bold;
    flex-basis: 90%;
}
a:hover{
    color: rgb(38, 80, 43);
}
a:visited{
color: black;
}
.questiommaire>li{
    display: flex;
}
/* .container{
    width: 70%;
    min-width: 600px;
    max-width: 2000px;
    margin:0 auto;
} */
a{
    color:black;
}
.osnova>p{
    font-size: 25px;
}
.anchor>a{
    display: flex;
    justify-content: center;
}
.osnova>ul{
    display: flex;
    flex-direction: column;
}
.insta{
    width: 30px;
    height: 30px;
}
.vk{
    width: 30px;
    height: 30px;
}
.spoti{
   width: 30px;
    height: 30px; 
}
.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.pole{
    width: 380px;
    height: 300px;
}

